footer {
  width: 100%;
  height: 180px;
  color: var(--font-color);
  background-color: #fae3e3;

  a {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;

      > svg {
        fill: var(--font-color);
        transform: scale(1.2);
      }
    }
  }

  .inner {
    max-width: 1320px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .meta {
      .github {
        font-size: 2rem;
        font-weight: 900;
      }
      .copyright {
        margin-top: 0.5rem;
      }
    }

    .members {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .member {
        font-size: 1.1rem;
        display: flex;
        gap: 0.5rem;

        .name {
          font-weight: 700;
          margin-right: 1rem;
        }

        .links {
          display: flex;
          gap: 0.5rem;

          a {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  footer {
    height: 180px;
    text-align: center;

    .inner {
      display: block;
      padding: 1.5rem 1rem;

      .meta {
        margin-bottom: 0.7rem;
      }

      .members {
        flex-direction: row;

        .member {
          font-size: 1rem;
          flex-direction: column;
          flex-grow: 1;
          position: relative;

          .name {
            margin-right: 0;
          }

          .links {
            justify-content: center;
          }

          &::after {
            content: '';
            display: block;
            width: 1px;
            height: 12px;
            background-color: #a7a7a7;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }

          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  footer .inner {
    padding: 2rem 1rem;

    .meta {
      .github {
        font-size: 1.5rem;
      }
      .copyright {
        font-size: 0.8rem;
        margin-top: 0.3rem;
      }
    }
  }
}
