.gallery {
  padding: 0 70px;
  margin: 50px 0;
  position: relative;

  .dogs {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .spinner {
    position: absolute;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .gallery {
    padding: 0 30px;
  }
}
