.gallery {
  h1 {
    margin: 40px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 30px;
  }

  .dogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
