.navbar__container {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  padding-right: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);

  .logo {
    margin: 1rem;
    padding: 0.5rem;
    font-size: bold;
    text-decoration: none;
    color: var(--font-color);

    img {
      width: 60px;
      height: auto;
      border-radius: 5px;
    }
    &:hover {
      background-color: var(--hover-color);
      border-radius: 5px;
    }
  }

  ul {
    display: flex;
    .li-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30rem;
    }
    li {
      list-style: none;
      margin: 0 1rem;
      .link--style {
        text-decoration: none;
        display: block;
        color: var(--font-color);
        padding: 0.9rem;
        font-size: 1.2rem;
        &:hover {
          color: var(--hover-color);
          border-radius: 5px;
        }
        .separator {
          border-right: 1px solid var(--border-color);
          padding-right: 2rem;
        }
      }

      .user--info {
        color: var(--font-color);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: block;
          &:hover {
            cursor: pointer;
            color: var(--hover-color);
          }
        }
        span {
          font-size: 1.2rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
