.navbar__container {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  padding-right: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);

  .logo {
    margin: 1rem;
    padding: 0.5rem;
    font-size: bold;
    text-decoration: none;
    color: var(--font-color);

    img {
      width: 60px;
      height: auto;
      border-radius: 5px;

      width: 60px;
      height: auto;

      @media (max-width: 1520px) {
        width: 55px;
      }

      @media (max-width: 1280px) {
        width: 50px;
      }

      @media (max-width: 1000px) {
        width: 45px;
      }

      @media (max-width: 768px) {
        width: 40px;
      }

      @media (max-width: 580px) {
        width: 35px;
      }
    }
    &:hover {
      background-color: var(--hover-color);
      border-radius: 5px;
    }
  }

  ul {
    display: flex;
    li {
      list-style: none;
      margin: 0 1rem;
      font-size: 1.2rem;

      @media (max-width: 1520px) {
        font-size: 1rem;
        margin: 0 0.9rem;
      }

      @media (max-width: 1280px) {
        font-size: 0.9rem;
        margin: 0 0.8rem;
      }

      @media (max-width: 1000px) {
        font-size: 0.8rem;
        margin: 0 0.7rem;
      }

      @media (max-width: 768px) {
        font-size: 0.7rem;
        margin: 0 0.6rem;
      }

      @media (max-width: 580px) {
        font-size: 0.5rem;
        margin: 0 0.4rem;
      }

      .link--style {
        text-decoration: none;
        display: block;
        color: var(--font-color);
        padding: 0.9rem;
        &:hover {
          color: var(--hover-color);
          border-radius: 5px;
        }
        .separator {
          border-right: 1px solid var(--border-color);
          padding-right: 2rem;
        }
      }

      .user--info {
        color: var(--font-color);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: block;
          &:hover {
            cursor: pointer;
            color: var(--hover-color);
          }

          @media (max-width: 1520px) {
            width: 45px;
            height: 45px;
          }

          @media (max-width: 1280px) {
            width: 40px;
            height: 40px;
          }

          @media (max-width: 1000px) {
            width: 35px;
            height: 35px;
          }

          @media (max-width: 768px) {
            width: 30px;
            height: 30px;
          }

          @media (max-width: 580px) {
            width: 25px;
            height: 25px;
          }
        }
        span {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
