@font-face {
  font-family: 'TTTogether';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.not-found {
  min-height: 306px;
  flex-grow: 1;
  margin: 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__code {
    font-family: 'TTTogether';
    font-size: 7rem;
  }
  &__name {
    font-family: 'TTTogether';
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__description {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    word-break: keep-all;
  }
}
