* {
  --font-color: #0a0a0a;
  --background-color: #fbefef;
  --hover-color: #e9deff;
  --border-color: #ded4f1;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  padding-top: 110px;

  #root {
    min-height: calc(100vh - 111px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
