* {
  --font-color: #0a0a0a;
  --background-color: #fbefef;
  --hover-color: #e9deff;
  --border-color: #ded4f1;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
